.back{
    background-image:url('https://img.freepik.com/free-photo/collection-old-textbooks-shelf-generated-by-ai_24911-72347.jpg?t=st=1688063083~exp=1688063683~hmac=dbf9a48603d31956a7a81a825d51573f0b2edebbec4bd59891397eb967b0433e&w=826') ;
    background-size: cover;
    height: 100vh;
}